@import url(http://fonts.googleapis.com/css?family=Average);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
    font-family: 'Average', 'Times New Roman', serif;
}

input {
    font-size: 1em;
}
/******************************** INFO BOX **************************************/
.infobox{
    margin: 20px auto;
    display:block;
    padding: 5px;
    width: 400px;
    background: #B3F1BE; 
    border: solid #245212 2px;
    text-align: center;
    border-radius:5px;
}

/******************************* ERROR BOX **************************************/
.errorbox {
    margin: 3em auto;
    padding: 1em;
    max-width: 400px;
    background: #FFADAD; 
    border: solid #FF1919 2px;
    text-align: center;
    border-radius:5px;
}

/********************************* TITLE ***************************************/

#userInfo {
    position: absolute;
    top: 0;
    right: 5%;
    z-index: 89;
    background-color: #fff;
    padding: 0.25em 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}

a, a:visited, a:active {
    text-decoration: none;
    color: #00f;
}

a:hover {
    text-decoration: underline;
}

.top {
	margin:0 auto;
	width:940px;
	margin-bottom: 75px;
	position: relative;
}

.icon img {
	display: block;
	width:700px;
    height: 225px;
	margin: 0 auto;
	margin-bottom:-16px;
	}

body {
	/*background: #c1e5e3;*/
	background: #ebf5ff;
}

/**************************** NAVAGATION BAR ***********************************/

.navigate ul
{
	list-style-type:none;
}

.navigate li {
	float:left;
}

.navigate ul li a{
	float: left;
	width:130px;
	padding:10px;
	background-color:#99601F;
	
	text-align: center;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	text-transform:uppercase;
	font-size: 18px;
}

.navigate ul a:hover
{
	background-color:#6E400B;
}

.navigate li ul {
	display: none;
	margin:0;
	padding:0;
}

.navigate li:hover ul {
	display: block;
	opacity: 0.95;
}
.navigate li:hover li {
	float:none;
}
.navigate li ul li a{
	background-color: #99601F;
	font-size:18px;
	text-transform: capitalize;
	font-weight:normal;
}



/*************************** INNER BOX ******************************/

.innerbox {
	border: none;
	position: absolute;
	display: block;
	background-color: white;
	margin: 0 auto;
	margin-top:10px;
	margin-bottom: 10px;
	padding: 10px;
	width:90%;
	overflow: auto;
	box-shadow: 0 0 5px 5px gray;
	border-radius:5px;
	z-index:-1;
	left:0; right:0;
}

/***************************** TABLE *******************************/

table
{
margin:25px auto;
border-collapse:collapse;
border:1px solid #245212;
table-layout:fixed;
}

th, td {
font-family: 'Open Sans', sans-serif;
border:1px solid #245212;
text-align:left;
table-layout:fixed;
}

th.header
{
text-align:left;
height: 25px;
background-color:#128020;
color:#ffffff;
cursor: pointer;
padding: 5px;
}

th.headerSortUp, th.headerSortDown{
background-color: #245212;
}

th.headerSortUp:after {
	float:right;
	content: '  \25B2';
}

th.headerSortDown:after
{
	float:right;
content: '  \25BC';
}

th img {
	width: 20px;
	height: 20px;
}
td img {
	width: 20px;
	height: 20px;
}

table tbody td{
font-size:0.8em;
padding: 5px;
}

table tbody td:nth-child(1)
{
min-width:71px;
}
table tbody td:nth-child(2)
{
min-width:150px;
}
table tbody td:nth-child(3)
{
min-width:110px;
}
table tbody td:nth-child(4)
{
min-width:180px;
}
table tbody td:nth-child(5)
{
min-width:150px;
}
table tbody td:nth-child(6){
min-width:110px;
}
table tbody td:nth-child(7){
min-width:110px;
}
table tbody td:nth-child(8){
min-width:50px;
}

/*************************************** EXPANDABLE LISTS ********************************/

.expandlist {
	font-size: 18px;
}

/*************************************** GRAPHS & LEGENDS ********************************/
.grapher {
    cursor: pointer;
}
.graph {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.legend {
    text-align: center;
    margin: 1px;
}
.legend li {
    display: inline-block;
    font-size: 0.8em;
    padding: 0;
    margin: 0 0.5em;
}
.legend li:before {
    content: '\25CF  ';
}
.legend li:nth-child(1) {color: rgb(92,131,47);}
.legend li:nth-child(2) {color: rgb(64,67,100);}
.legend li:nth-child(3) {color: rgb(80,37,19);}
.legend li:nth-child(4) {color: rgb(216,202,168);}
.legend li:nth-child(5) {color: rgb(40,73,7);}