/******************************* LOGIN BOX **************************************/
#loginscreen{
	  	margin: auto;
	  	margin-top:10px;
	  	display:block;
		padding: 5px;
		width: 400px;
		background: #B3F1BE; 
		border: solid #245212 2px; 
		font-family: serif;
		font-size: 18px;
		text-align: center;
		border-radius:5px;
}

/********************************* TITLE ***************************************/

.top {
	margin:0 auto;
	width:940px;
	margin-bottom: 75px;
	position: relative;
}

.icon img {
	display: block;
	width:700px;
    height: 225px;
	margin: 0 auto;
	}

body {
	background: #c1e5e3;
}

/**************************** NAVAGATION BAR ***********************************/

.navigate ul
{
	list-style-type:none;
}

.navigate li {
	float:left;
}

.navigate ul li a{
	float: left;
	width:130px;
	padding:10px;
	background-color:#99601F;
	
	text-align: center;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
	text-transform:uppercase;
	font-size: 18px;
}

.navigate ul a:hover
{
	background-color:#6E400B;
}

.navigate li ul {
	display: none;
	margin:0;
	padding:0;
}

.navigate li:hover ul {
	display: block;
	opacity: 0.95;
}
.navigate li:hover li {
	float:none;
}
.navigate li ul li a{
	background-color: #99601F;
	font-size:18px;
	text-transform: capitalize;
	font-weight:normal;
}



/*************************** INNER BOX ******************************/

.innerbox {
	border: none;
	position: relative;
	display: block;
	float: center;
	background-color: white;
	margin:auto;
	margin-top:10px;
	padding: 10px;
	width:90%;
	overflow: auto;
	box-shadow: 0 0 5px 5px gray;
	border-radius:5px;
}

/***************************** TABLE *******************************/

table
{
width:auto + 10px;
margin:25px;
border-collapse:collapse;
border:1px solid #245212;
table-layout:fixed;
}

th, td {
width:auto;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
border:1px solid #245212;
text-align:left;
table-layout:fixed;
}

th.header
{
font-size:15px;
text-align:left;
height: 25px;
background-color:#128020;
color:#ffffff;
cursor: pointer;
padding: 5px;
}

th.headerSortUp, th.headerSortDown{
background-color: #245212;
}

th.headerSortUp:after {
content: '  \25B2';
}

th.headerSortDown:after
{
content: '  \25BC';
}

table tbody td{
font-size:12px;
padding: 5px;
}

/*table tbody td:nth-child(1)
{
width:8%;
}
table tbody td:nth-child(2)
{
min-width:20%;
}
table tbody td:nth-child(3)
{
min-width:10%;
}
table tbody td:nth-child(4)
{
min-width:20%;
}
table tbody td:nth-child(5)
{
min-width:20%;
}
table tbody td:nth-child(6){
min-width:10%;
}
table tbody td:nth-child(7){
min-width:8%;
} */

/*************************************** EXPANDABLE LISTS ********************************/

.expandlist {
	font-size: 18px;
}
